* {
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background: #eee;
}

form {
    float: right;
    width: 348px;
    margin: 0px auto;
}

form * {
    margin: 5px;
}

label {
    font-size: 20px;
}

.button {
    background: #008080;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
    margin: 5px;
    line-height: 1.5em;
}

.button:hover {
    background: #40c0c0;
}

.button:active {
    background: #20a0a0;
}

.img {
    border: 1px solid #000;
    background: #f00;
    float: left;
    max-width: 400px;
    margin: 0px 20px 20px 0px;
}

#gif-div {
    overflow: hidden;
    padding: 0px 20px;
}

@media screen and (max-width: 804px) {
    form {
        float: none;
    }

    #gif-div {
        width: 100%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 350px) {
    form {
        width: 257px;
    }
}